@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Quicksand',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Quicksand', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
