.footer-container {
    background-color: #000;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
  }
  .icon {
    margin-right: 12px;
    margin-bottom: 1rem;
  }
  