.price{
    display: flex;
    justify-content: space-between;
}
.open-btns{
    border: 1px solid #0E4DA4;
    border-radius: 25px;
    margin-left: 50%;
}
.product-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}
.product-image{
    width: 42%;   
}
.card-product{
    width: 50%;
}
.img-pro{
    width: 80%;
}
.description {
    font-size: 14px !important;
    width: 100%;
}
.description-label{
    font-size: 1.2rem !important; 
    margin-top: 10px !important;
}
.icon-btn{
    margin-left: 15px !important;
    font-size: 14px;
    border: 1px solid #000 !important;
    padding: 3px 15px !important;
    background: #000 !important;
    color: #fff !important;
}
.date{
    color: '#263238' !important;
    font-size: .8rem !important;
    margin: 10px 0 5px !important;
}
.end-date{
    color: '#263238' !important;
    font-size: .8rem !important;
    margin: 20p 0 5px !important;
}
.open-btn
{
    font-size: 14;
    border: 1px solid #000000 !important;
    border-radius: '25px';
    margin-left: 50% ; 
}
.item-condition{
    margin: 15px 0 5px !important;
}

.item-condition span{
    margin-top: 10px !important;
    font-weight: 500 !important;
    margin-left: 10px;
}
.content-text{
    text-align: justify;
}
.card-product .css-1t6e9jv-MuiCardActions-root{
    font-size: 1rem;
    padding: 0 !important;
}