.price{

    display: flex;
    flex-direction: row;
   
}
.open-btns{
    border: 1px solid #0E4DA4;
    border-radius: 25px;
    margin-left: 50%;
}
.product-container{
    display: flex;
    flex-direction: row;
    width: 100%;

    margin-left: 8%;
    margin-right: 8%;
}
.product-image{
    width: 42%;
   
    
}
.card-product{
    width: 42%;
    
    
}
.img-pro{
    width: 80%;
}
.description
{
    
    font-size: 14px !important;
     width: 100%;
     padding-bottom: 30px;
}
.description-label{
    font-size: 20px !important; 
    padding-bottom: 10px
}
.icon-btn{
    font-size: 14px;
    border: 1px solid #000 !important;
     padding: 5px 10px !important;
    background: #000 !important;
  
    color: #fff !important;
}

.date{
    margin-bottom: 1.5;
     color: '#263238';
      font-size: 18px !important; 
      padding-bottom: 12px !important;
}
.open-btn
{
    font-size: 14;
    border: 1px solid #0E4DA4 !important;
    border-radius: '25px';
    margin-left: 50% ;
  
}
.icon{
    padding-left: 15px;
}