
.cards-container{
    display: flex;
    width: 80%;
    margin: 3vh auto;
    justify-content: space-between;
}
.card-container{
    display: flex;
    width: 30%;
}
.content-container .MuiTypography-h5 {
    font-weight: bold;
    font-family: 'Inter';
    font-size: 1rem;
}
.content-container .MuiTypography-body2 {
    font-weight: 600;
    font-family: 'Inter';
    font-size: 1rem;
}
/* 
height: 100%;
    margin-right: 19px;
    width: 15%; */
